In [234]:
# Nayelly Freire
#Professor Droescher 
#Quantitative Finance Spring 2023 
#Portfolio Analysis Project Assignment
#Due Feb 28

import pandas as pd 
import yfinance as yf

tickers=['aapl', 'msft', 'tsla', 'amc', 'meta', 'nio','f'] #tickers are stock symbols
etf=['spy','iwm','dia'] #the three given stocks we will compare them to later 
data=yf.download (['aapl', 'msft', 'tsla', 'amc', 'meta', 'nio','f'],period='2y', interval='3mo')['Adj Close'] #the yahoo finance data for the prices of each stocks
weights=[0.20]*7 # All 7 stocks have the same weight of 20%

returns=data.pct_change().dropna()
volatility = returns.std()*(252**0.5) #252 trading days in a year

[*********************100%***********************]  7 of 7 completed

In [232]:
#Column 4,5,6 – Beta against SPY, IWM and DIA trailing 1 year

beta_data = []
for ticker in tickers:
    stock=yf.Ticker(ticker)

    try:
        beta_spy = stock.history(period="1y").Close.pct_change().cov(yf.Ticker("SPY").history(period="1y").Close.pct_change()) 
    except KeyError:
        beta_spy = None
        
    try:
        beta_iwm = stock.history(period="1y").Close.pct_change().cov(yf.Ticker("IWM").history(period="1y").Close.pct_change())
    except KeyError:
        beta_iwm = None
        
    try:
        beta_dia = stock.history(period="1y").Close.pct_change().cov(yf.Ticker("DIA").history(period="1y").Close.pct_change()) 
    except KeyError:
        beta_dia = None 
        
    beta_data.append((ticker, beta_spy, beta_iwm, beta_dia))

https://towardsdatascience.com/best-time-saving-python-tricks-in-jupyter-notebook-fca877132507
https://realpython.com/python-keyerror/

In [229]:
#Column 7,8 – Average Weekly and Maximum Weekly Drawdown (52-week Low minus 52-week High) / 52-week High

drawdown_data = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    
    try:
        low = stock.history(period="1y").Low.min()
        high = stock.history(period="1y").High.max()
        drawdown=(low-high)/high
        avg_drawdown = drawdown.min()
        max_drawdown = drawdown.mean()
    except KeyError:
        avg_drawdown = None
        max_drawdown= None

https://campus.datacamp.com/courses/introduction-to-portfolio-risk-management-in-python/value-at-risk?ex=2

In [230]:
#Column 9,10- Total Return (using trailing 10-years), Annualized Total Return (using trailing 10-years)
returns_data = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    
    try:
        prices = stock.history(period="10y")['Close']
        total_return = prices.iloc[-1] / prices.iloc[0] - 1
        annualized_return = (1 + total_return)**(1/10) - 1
    except KeyError:
        total_return = None
        annualized_return = None

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [231]:
#Columns 1-10 in order 
#However I noticed the data runs the same and I don't know how to fix it so I'll review during lecture time
df = pd.DataFrame({'Ticker': tickers, 'Portfolio Weight': weights,'Volatility':volatility, 'Beta (SPY)':beta_spy, 'Beta (IWM)':beta_iwm,'Beta (DIA)':beta_dia,'Avg. Weekly Drawdown':avg_drawdown, 'Max Drawdown':max_drawdown, 'Total Return (10Y)': total_return, 'Annualized Return (10Y)': annualized_return})

display(df)

,Ticker,Portfolio Weight,Volatility,Beta (SPY),Beta (IWM),Beta (DIA),Avg. Weekly Drawdown,Max Drawdown,Total Return (10Y),Annualized Return (10Y)
AAPL,aapl,0.2,0.787606,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
AMC,msft,0.2,3.143791,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
F,tsla,0.2,1.687064,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
META,amc,0.2,2.087569,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
MSFT,meta,0.2,0.797249,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
NIO,nio,0.2,1.883777,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626
TSLA,f,0.2,2.105897,0.000324,0.000385,0.000252,-0.414762,-0.414762,0.518053,0.042626

In [226]:
#Create a table showing Portfolio Risk against the three ETFs:
#Following from Feb 23's recorded lecture to do the second part but I got stuck again 
import yfinance as yf
tickers=['aapl', 'msft', 'tsla', 'amc', 'meta', 'nio','f']
etf=['spy','iwm','dia']
period ='2y'

data=yf.download(tickers + etf,period=period)
data.head()

#list comprehension like a for loop by defining a list

[*********************100%***********************]  10 of 10 completed

             Adj Close                                                       \
                  AAPL   AMC         DIA          F         IWM        META
Date
2021-03-01  126.270065  9.18  304.311218  10.859056  220.753906  264.910004
2021-03-02  123.631821  8.93  302.961243  11.375722  216.506195  259.000000
2021-03-03  120.608208  8.58  301.804108  11.031278  214.162628  255.410004
2021-03-04  118.701172  8.03  298.515991  10.813735  208.176788  257.640015
2021-03-05  119.975822  8.05  303.973694  11.121922  212.590485  264.279999

                                                           ...     Volume  \
                  MSFT        NIO         SPY        TSLA  ...       AAPL
Date                                                       ...
2021-03-01  232.742355  49.759998  378.317719  239.476669  ...  116307900
2021-03-02  229.726715  43.290001  375.365601  228.813339  ...  102260900
2021-03-03  223.528549  41.529999  370.393585  217.733337  ...  112966300
2021-03-04  222.713226  39.279999  365.810059  207.146667  ...  178155000
2021-03-05  227.496964  38.110001  372.539703  199.316666  ...  153766600

                                                                         \
                  AMC      DIA          F       IWM      META      MSFT
Date
2021-03-01  143586500  4749700   43172800  26161000  22157300  25324000
2021-03-02   78135400  4075700  104789000  26895400  15191700  22812500
2021-03-03   55651900  5148100   80169700  33407600  15513500  34029500
2021-03-04   77822600  8577600   88339600  59126500  31626500  44727800
2021-03-05   59734100  7016100   79345700  53204300  26820100  41872800


                  NIO        SPY       TSLA
Date
2021-03-01   94238500  105348800   81408600
2021-03-02  161334000   79595300   71196600
2021-03-03  107863400  119940200   90624000
2021-03-04  205872700  183433000  197758500
2021-03-05  270803200  152039600  268189500

[5 rows x 60 columns]

In [220]:
#use data frame for outputs
import pandas as pd
output_1=pd.DataFrame(index=tickers)
output_1

Empty DataFrame
Columns: []
Index: [aapl, msft, tsla, amc, meta, nio, f]